# Makefile for libgeneric_handler
# Copyright (C) 2017 Sergey Kolevatov

###################################################################

VER = 0

APP_PROJECT := example

APP_THIRDPARTY_LIBS = -lm -lstdc++

APP_SRCC = example.cpp

APP_EXT_LIB_NAMES = \
	utils \
	password_hasher \
	session_manager \
	generic_protocol \
	generic_request \
