# Makefile for libgeneric_handler
# Copyright (C) 2017 Sergey Kolevatov

###################################################################

VER = 0

LIB_PROJECT = generic_handler

LIB_BOOST_LIB_NAMES :=

LIB_SRCC = \
	handler.cpp \
	perm_checker.cpp \

LIB_EXT_LIB_NAMES = \
	utils \
	password_hasher \
	session_manager \
	generic_protocol \
	generic_request \
